{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for accounts in accounts_list %}
                <tr>
                    <td>{{ accounts.name }}</td>
                    <td>{{ accounts.number }}</td>
                    <td>{{ accounts.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
